

@media screen and (max-width:800px) {
    body{
        /* background: black; */
    }
    /* ==== firstsection starts here=== */
    .firstsection{
        height: 520px;
    }
.firstsection-leftdiv {
    width: 60%;
    padding: 20px;


}
.firstsection-leftdiv h1{
    font-size: 25px;
}

.firstsection-rightdiv{
    width: 40%;
}
}
.link-holder{
    padding-left: 30px;
    /* border: 3px solid black; */
    flex-direction: column;

}
.link-holder h4{
margin-bottom: 10px;
}
.line{
    width: 150cpx;
}
/* ==== first section ends here=== */

/* ==== second section ends here=== */
.secondsection{
    flex-direction: column;
}
.secondsection-rightdiv{
    margin-left: 0;
    margin-top: 30px;
}

/* ==== second section ends here=== */
.thirdsection{
    flex-direction: column-reverse;
    align-items: center;


}
.thirdsection-leftdiv{
    margin-top: 30px;
}
footer{
    flex-direction: column;
    text-align: center;
}
/* ==== third section ends here=== */
/* ==== third section ends here=== */